@{
    ViewData["Title"] = "Create new task";
}

<div class="container shadow-lg p-3 mb-5  rounded">
    <h4>Create new task</h4>
    <hr/>
    <div class="row">
       <form>
            <div class="form-control">
                <div class="input-group mt-3 mb-3">
                    <input type="text" placeholder="Title" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <input type="text" placeholder="Description" class="form-control" />
                </div>
                
                <div class="input-group mb-3">
                    <input type="checkbox" class="form-control-color"/>
                    <span class="text-primary">Is Done</span>
                </div>
                <a class="btn btn-success btn-sm mt-3 mb-3">Submit</a>
            </div>
       </form>
    </div>
</div>